nav {
    display: flex;
    justify-content: space-between;
}

.name-header {
    border: none;
    background-color: transparent;
}

.nav-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-button {
    border: none;
    background-color: transparent;
}