
@font-face {
    font-family: 'brother-signature';
    src: url('Fonts/brother-signature-font (1)/BrotherSignature-7BWnK.otf') format('truetype');
}
@font-face {
    font-family: 'bemirs';
    src: url('Fonts/bemirs-font/BemirsDemoVersionRegular-X361d.otf') format('truetype');
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: none;
    padding: none;
}

.name-header {
    border: none;
    background-color: transparent;
}

h1 {
    font-family: 'brother-signature', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 3rem;
}

.nav-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-button {
    border: none;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    position: relative; 
    justify-content: center;
    align-items: center;
}

header, main, footer {
    width: 100%;
}

main {
    flex: 1; 
    overflow-y: auto; 
    min-height: calc(100vh - (headerHeight + footerHeight));
}

.hero-image {
    height: 75vh; 
    border-radius: 45% 55% 45% 55% / 75% 25% 75% 25% ;
    margin-right: 150px;
}

.hero-section {
    background-color: #87a870;
    border-radius: 53% 47% 45% 55% / 77% 33% 67% 23%  ;
    height: 60vh;
    width: 40vw;
    position: absolute;
    z-index: -1;
    margin-left: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    margin-left: 125px;
    color: #202914;
    font-family: 'brother-signature';
    font-size: 3rem;

}

footer {
    position: relative; 
    width: 100%; 
    bottom: 0; 
    margin: 0;
    padding: 0;
    background-color: #bbcdae;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

